<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kurimotokenichi.www.earth003"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="com.kurimotokenichi.www.earth003.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.kurimotokenichi.www.earth003.permission.C2D_MESSAGE" />
 
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        
        <uses-library android:name="com.android.future.usb.accessory" />

        <activity
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:name=".Earth003Activity"
            android:taskAffinity="" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <service android:name=".C2DMReceiver" />
        
        <receiver android:name="com.google.android.c2dm.C2DMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.kurimotokenichi.www.earth003" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.kurimotokenichi.www.earth003" />
            </intent-filter>
        </receiver>   
    </application>

</manifest>
